#header{
    height: 10vh;
    position: sticky;
}

#main{
    height:  80vh;
}

#footer{
    height: 10vh;
     background-image:linear-gradient(rgb(255, 81, 0), yellow);
}
 
footer p{
      
      transform-style: preserve-3d;
  
  }

  footer p:hover{
    transform: rotateX(20deg);
  }
.table{
    animation-name: entrada;
    animation-duration: 5s;
    animation-delay: .5s;
}
@keyframes entrada{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}


/*/ X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

 /*// Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {  }

/*// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/*// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/*// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
